/******************************************************************************************************************************************
General Styles
******************************************************************************************************************************************/
body{
	margin:0px; 
	padding:0px;
	font-family: arial, helvetica, sans-serif;
	font-size:14px;
	color:#000;
	background: url( '/images/bg_stripes.png' );
	background-repeat:repeat-x repeat-y;
}

a:link, a:active, a:visited {
	text-decoration:none;
	color:#1874CD;
	
}

a:hover {
	text-decoration:underline;
}

a.selected:link, a.selected:active, a.selected:visited {
}

a.no_hover:hover {
	text-decoration: none;
}

img{
	border:0px solid #000000;
	border-style:hidden;
}

h3{
	color:#006699;
	font-family:'arial narrow', sans-serif;
	font-weight:bold;
	letter-spacing:3px;
	font-size:16px;
}

ul {
	list-style:none;
}

textarea {
	position:relative;
	line-height:1.66em;
}

.default_line_height {
	line-height:1.33em;
}

/******************************************************************************************************************************************
Sections
******************************************************************************************************************************************/

.page {
	position:relative;
}

.header_section {
	position:relative;
	height:110px;
	margin-top:15px;
	width:100%;
}

.header_grid {
	height:110px;
}

.content_section {
	position:relative;
	margin-top:15px;
	min-height:500px !important;
}

.footer_section {
	position:fixed;
	bottom:0px;
	height:30px;
	left:0px;
	width:100%;
	border-top:1px solid #999999;
	
}

/******************************************************************************************************************************************
padding, colors, borders
******************************************************************************************************************************************/
.center { text-align:center; }

.border_solid_grey{ border:1px solid #999; }

.padder_5 { padding:5px; }
.padder_5_top { padding-top:5px; }
.padder_5_right{ padding-right:5px; }
.padder_5_bottom { padding-bottom:5px; }
.padder_5_left{ padding-left:5px; }

.padder_10 { padding:10px; }
.padder_10_top{ padding-top:10px; }
.padder_10_right{ padding-right:10px; }
.padder_10_bottom { padding-bottom:10px; }
.padder_10_left{ padding-left:10px; }

.padder_15 { padding:15px; }
.padder_15_top{ padding-top:15px; }
.padder_15_left{ padding-left:15px; }

.padder_20 { padding:20px; }
.padder_20_top { padding-top:20px; }
.padder_20_right { padding-right:20px; }
.padder_20_bottom { padding-bottom:20px; }
.padder_20_left { padding-left:20px; }

.padder_25 { padding:25px; }
.padder_25_top { padding-top:25px; }
.padder_25_right { padding-right:25px; }
.padder_25_bottom { padding-bottom:25px; }
.padder_25_left { padding-left:25px; }

.padder_30 { padding:30px; }
.padder_30_top { padding-top:30px; }
.padder_30_right { padding-right:30px; }
.padder_30_bottom { padding-bottom:30px; }
.padder_30_left { padding-left:30px; }

.padder_no_top { padding-top:0; }
.padder_no_right { padding-right:0; }
.padder_no_bottom { padding-bottom:0; }
.padder_no_left { padding-left:0; }

.margin_10_top { margin-top:10px; }
.margin_10_right { margin-right:10px; }
.margin_10_bottom { margin-bottom:10px; }
.margin_10_left { margin-left:10px; }

.font_title { font-weight:bold; font-size:16px; }
.font_small { font-size:10px; font-weight:bold; }
.font_med { font-size:12px; }

.bg_tan { background-color:#DEDBDB; }
.bg_dark { background-color:#333333; }
.bg_red { background-color:#FF0000; }
.bg_white { background-color:#FFF; }

.opacity_50 { opacity:.5; }
.opacity_70 { opacity:.7; }

.float_left{ position:relative; float:left; }
.float_right{ position:relative; float:right; }

.hidden{ display:none !important; }
.visible{ display:block !important; }

.rounded_corners {
	-moz-border-radius:.25em;
	-webkit-border-radius:.25em;
	border-radius:.25em;
}

.box_shadow {
	-moz-box-shadow:2px 2px 5px #888;
	-webkit-box-shadow:2px 2px 5px #888;
	box-shadow:2px 2px 5px #888;
}

.overlay, .overlay_absolute {
	position:relative;
	display:block;
	width:100%;
	height:100%;
}

.overlay_absolute {
	position:absolute !important;
	top:0px;
	left:0px;
}

.title_span {
	position:relative;
	display:block;
	padding-bottom:3px;
}

.text_input {
	height:30px;
}

.text_long {
	width:100%;
}

/******************************************************************************************************************************************
Widget
******************************************************************************************************************************************/

.widget_content_holder, .widget_nav_holder, .blog_slide, .slide, #slide_holder, #blog_holder, #p_holder, .p_slide {
	position:relative;
	height:512px;
}

.widget_holder {
	position:relative;
	margin:auto;
}

.widget_content_holder {
	width:100% !important;
	z-index:101;
	overflow:hidden;
	float:left;
}

.p_slide {
	width:940px;
	margin-right:10px;
}

/******************************************************************************************************************************************
Nav and logo
******************************************************************************************************************************************/
.logo_container {
	position:absolute;
	top:-11px;
	left:0px;
	width:175px;
	height:132px;
	text-align:center;
	background: url( '/images/logo.png' ) center center no-repeat;
	background-color:#FF0000;
}

.logo_box_shadow {
	-moz-box-shadow:0px 5px 5px #888;
	-webkit-box-shadow:0px 5px 5px #888;
	box-shadow:0px 5px 5px #888;
}

.logo_ne, .logo_se {
	position:absolute;
	width:11px;
	height:11px;
	right:-11px;
}

.logo_ne { 
	top:0px;
	background: url( '/images/logo_ne.png' ) center center no-repeat; 
}

.logo_se {
	bottom:0px;
	background: url( '/images/logo_se.png' ) center center no-repeat;
}

.logo_stripe {
	position:absolute;
	width:100%;
	height:3px;
	bottom:10px;
	background-color:#FF0000;
}

.nav_container {
	position:absolute;
	right:-20px;
	bottom:19px;
}

.nav_table {
	position:relative;
}

.nav_table td{
	position:relative;
	background-position:top center;
	background-repeat: no-repeat;
	width:120px;
	height:30px;
}

.nav_table td.about {
	background-image: url( '/images/nav_about.gif' );
}

.nav_table td.portfolio {
	background-image: url( '/images/nav_portfolio.gif' );
}

.nav_table td.contact {
	background-image: url( '/images/nav_contact.gif' );
}

.nav_selector, .nav_selector_hover {
	position:absolute;
	bottom:-8px;
	width:120px;
	height:7px;
	background-position:bottom center;
	background-repeat: no-repeat;
}

.nav_selector_active {
	background-image: url( '/images/nav_selector.png' );
}

/******************************************************************************************************************************************
Page - Construction
******************************************************************************************************************************************/
.construction_container {
	position:relative;
	width:280px;
	height:130px;
	margin:auto;
	margin-top:90px;
}

.construction_inner {
	postion:relative;
	width:100%;
	height:130px;
}

.construction_text {
	position:relative;
	width:100%;
	height:20px;
	padding-top:55px;
}

/******************************************************************************************************************************************
Page - About
******************************************************************************************************************************************/

.featured_container {
	position:relative;
	width:98%;
	height:250px;
}

.featured_nav_container, .featured_photo_container, .featured_blurb_container {
	position:relative;
	float:left;
}

.featured_photo_bg, .featured_blurb_bg {
	position:relative;
	width:100%;
	height:229px;
}

.featured_photo_bg img {
	position:absolute;
	top:8px;
	left:8px;
}

.featured_photo, .featured_blurb {
	position:relative;
}

.featured_photo_container { width:45%; }
.featured_blurb_container { width:30%; }
.featured_nav_container { width:25%; }

.featured_nav {
	position:relative;
	width:100%;
}

.featured_nav div.item {
	position:relative;
	height:73px;
	width:100%;
}

.featured_nav div.spacer {
	height:5px !important;
	border-style:hidden !important;
}

.featured_selector {
	position:absolute;
	top:18px;
	left:40px;
	width:34px;
	height:34px;
	background-position:center center;
	background-repeat:no-repeat;
}

.featured_selector_active {
	background-image:url( '/images/featured_active.gif' ); 
}

.featured_selector_inactive {
	background-image:url( '/images/featured_inactive.gif' ); 
}

.featured_thumb_tiny { 
	position:absolute;
	top:5px;
	right:5px;
	height:63px;
	width:96px;
}

.featured_thumb_tiny img {
	position:relative;
	top:5px;
	left:5px;
}

.about_skills, .about_me {
	position:relative;
	float:left;
}

.about_skills{ width:45%; }
.about_me{ width:55%; }

/******************************************************************************************************************************************
Page - Portfolio
******************************************************************************************************************************************/
.port_container{
	position:relative;
	width:99%;
	height:390px;
}

.port_grid {
	position:relative;
	width:100%;
}

.port_grid_item_container {
	position:relative;
	width:275px;
	height:155px;
	margin:auto;
	margin-bottom:18px;
}

.port_grid_item_container img {
	position:absolute;
	top:5px;
	left:5px;
}

.port_controls {
	position:absolute;
	top:230px;
	left:-70px;
	width:1070px;
	height:80px;
}

.port_magnify {
	background-image:url( '/images/port_magnify.gif' );
	background-position:center center;
	background-repeat:no-repeat;
	border:3px solid #FF0000;
}

.port_control_left, .port_control_right, .port_control_grid {
	position:relative;
	width:65px;
	height:65px;
	background-position:center center;
	background-repeat:no-repeat;
}

.port_control_left { 
	float:left;
	background-image:url( '/images/port_control_left.png' );
}

.port_control_right { 
	float:right;
	background-image:url( '/images/port_control_right.png' );
}

.port_control_grid { 
	float:left;
	background-image:url( '/images/port_control_grid_dark.png' );
}

.port_spacer {
	position:relative;
	width:100%;
	height:63px;
}

.port_inner {
	position:relative;
	height:370px;
	width:100%;
}

.port_title {
	position:absolute;
	top:-21px;
	right:10px;
}

.port_title_text {
	color:#FFF;
	font-weight:bold;
}

.port_content_inner {
	position:relative;
	width:100%;
	height:350px;
}

.port_content_inner td.photo {
	width:75%;
}

.port_content_inner td.photo img {
	position:relative;
	top:0px;
	left:5px;
}

.port_content_inner td.summary {
	width:25%;
}

.port_summary_container  {
	position:relative;
	width:100%;
	height:345px;
}

.port_skills {
	position:relative;
	width:100%;
}

.port_skills td {
	height:35px;
	vertical-align:middle;
	background-image:url( '/images/port_checkbox_green.png' );
	background-repeat:no-repeat;
	background-position:left left;
	padding-left:30px;
}

.port_blurb_container {
	position:relative;
	width:100%;
	min-height:160px;
}

.port_launch_site {
	position:absolute;
	right:10px;
	bottom:10px;
}

/******************************************************************************************************************************************
Page - Contact
******************************************************************************************************************************************/

.con_container, .con_spacer {
	position:relative;
	float:left;
	height:470px;
}

.con_container {
	width:49%;
}

.con_spacer {
	width:2%;
}

.con_input, .con_textarea {
	width:425px;
}

.con_textarea {
	height:200px;
}

.con_label {
	font-weight:bold;
}

.con_selector_split {
	position:relative;
	width:100%;
}

.con_selector_split td.selector {
	width:46%;
}

.con_selector_split td.spacer {
	width:8%;
}

.con_button {
	position:relative;
	width:110px;
	height:37px;
	color:#FFF;
	float:right;
	font-weight:bold;
}